@media screen and (min-width: 1100px) and (max-width: 1440px) {
    :root {
        --heading: 5rem;
        --subheading: 3rem;
        --paragraph: 1rem;
        --padding: 5rem;
    }

    .left {
        width: 40%;
        height: 80vh;
        padding: 1rem;
        padding-bottom: 4rem;
        display: flex;
        align-items: flex-end;

    }

    .left p {
        width: 50%;
    }

    .right {
        width: 60%;
        line-height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* padding-bottom: 1.5rem; */

    }

    .header-content {
        width: 70%;
    }

    .header-content h1 {
        width: 85%;
        background-color: yellow;
        font-size: var(--heading)
    }

    .header-image {
        background-image: url(../../images/merc-header.jpg);
        height: 60vh;
        width: 70vw;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slide-image {
        display: flex;
    }

    .copy {
        background-color: var(--primary);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 30vw;
        height: 30px;
        padding: var(--padding);
    }

    .main {
        padding: var(--padding);
        display: flex;
        align-items: center;
        width: 100%;
        gap: 2rem;

    }

    .asth {
        width: 50%;
        font-size: var(--heading);
    }

    .txt {
        width: 50%;
        font-size: 2rem;
    }

    .asth h1 {
        font-size: 3rem;
    }

    .project-wrapper {
        padding: var(--padding);
    }

    .project {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-top: 1rem;

    }

    .prjt1 {
        background-image: url(../../images/project1.jpg);
        max-width: 100%;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .prjt2 {
        background-image: url(../../images/project2.jpg);
        max-width: 100%;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .prjt3 {
        background-image: url(../../images/project1.jpg);
        max-width: 100%;
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-wrapper {
        display: flex;
    }

    .prjt-text1 {
        text-align: center;
    }

    .prjt-text1 h1 {
        font-size: 2rem;
    }

    .prjt-text2 {
        text-align: center;
    }

    .prjt-text2 h1 {
        font-size: 2rem;

    }

    .prjt-text3 {
        text-align: center;
    }

    .prjt-text3 h1 {
        font-size: 2rem;

    }

    .more-project {
        display: flex;
        justify-content: flex-end;
        /* padding-right: 8rem; */
        padding: var(--padding);
    }

    .more-project div h1 {
        font-size: 3rem;
    }

    main {
        background-color: var(--primary);
        width: 90vw;
        height: 100%;
        /* position: relative; */

    }

    main div h1 {
        width: 48%;
        font-size: 3rem;

    }

    .show {
        padding: var(--padding);
    }

    .sh-wrapper {
        border-top: .07rem solid black;
        border-bottom: .07rem solid black;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .sh {
        position: relative;
        width: 60%;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
    }

    .sh-no {
        position: absolute;
        right: -30px;
        top: -15px;
    }

    .sh-space {
        width: 5%;
        display: flex;
        justify-content: center;
    }

    .sh-img {
        background-image: url(../../images/merc-header.jpg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ri {
        width: 35%;
    }

    .ri h1 {
        font-size: 2rem;
        width: 100%;
    }


    .sh-img1 {
        background-image: url(../../images/16\ Valleycrest\ Drive-120.jpg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;

    }


    .sh-img2 {
        background-image: url(../../images/16\ Valleycrest\ Drive-102.jpg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .testmony {
        display: flex;
        justify-content: space-between;

    }

    .wht {
        width: 50%;
        padding-top: 4rem;
        padding-left: 10rem;
    }

    .wht h1 {
        font-size: 2rem;
        width: 80%;
        line-height: normal;
    }

    .wht-img {
        background-image: url(../../images/architecture.jpg);
        width: 600px;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        margin-top: -200PX;

    }

    .blog-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
    }

    .bg-arrow {
        display: flex;
        align-items: center;
    }

    .blog-wrapper h1 {
        font-size: 2rem;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-top: 1rem;
        border-top: .07rem solid gray;

    }

    .blog-img1 {
        background-image: url(../../images/project1.jpg);
        max-width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blog-img2 {
        background-image: url(../../images/project2.jpg);
        max-width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blog-img3 {
        background-image: url(../../images/project1.jpg);
        max-width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blog-text1 h1 {
        font-size: 1.8rem;
    }


    .blog-text2 h1 {
        font-size: 1.8rem;

    }

    .blog-text3 h1 {
        font-size: 1.8rem;
    }

    .ct {
        display: flex;
        flex-direction: column;
        justify-content:end;
        background-color: var(--primary);
        height: 650px;
        aspect-ratio: 1/1;
        width: 50%;
        padding: var(--padding);
    }

    .ct-flex {
        display: flex;
        justify-content: space-between;
    }

    .pt {
        width: 40%;
    }

    .ct-wrapper {
        display: flex;
        gap: 5rem;
        padding-top: 6rem;
    }

    .ct-head h1 {
        font-size: 3.5rem;
        width: 70%;
        margin-top: 0%;
    }

    .contact {
        width: 200px;
        background-color: var(--primary);
        height: 40px;
        aspect-ratio: 1/8;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem;
        border-radius: 50px;
        gap: 10px;
        /* width: fit-content; */
    }


    .bd-top {
        border-bottom: 4rem;
        border-top: .1rem solid black;
        margin-top: 100px;
    }

    .social {
        display: flex;
        gap: 2rem;
        padding-top: 8rem;
    }

    .footer {
        display: flex;
        z-index: 1;
        margin-top: -140px;
    }

    .footer-section-1 {
        padding: var(--padding);
        width: 50%;
    }

    .footer-section-2 {
        padding: var(--padding);
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .ff {
        display: flex;
        /* justify-content: flex-end; */
    }

}